.menu-one {
    --height: 240px;
    --width: 200px;
}
.bordered {
    --border-style: hidden;
}
ion-searchbar {
    --placeholder-color: white;
    --placeholder-font-style: italic;
    --placeholder-font-weight: bold;
    --placeholder-opacity: 0.5;
}




