<ion-content>

    <ion-list>
        <ion-item lines="none" *ngFor="let list of recentUpdates.slice(0,1)">
          <ion-avatar class="ion-margin">
            <ion-img [src] = 'list.picture'></ion-img>
          </ion-avatar>
          <ion-label>
            <h2><b>My Status</b></h2>
            <p>Tab to add status</p>
          </ion-label>
        </ion-item>
    </ion-list>
 
    <ion-toolbar color="dark" class="toolbar">
        <ion-label>Recent updates</ion-label>
    </ion-toolbar>
  
    <ion-list>
        <ion-item *ngFor = 'let list of recentUpdates.slice(0,6)'>
            <ion-avatar class="ion-margin">
            <ion-img [src] = 'list.picture'></ion-img>
            </ion-avatar>
            <ion-label>
                <h2><b>{{list.name}}</b></h2>
                <p>{{list.time}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

  <ion-toolbar color="dark" class="toolbar">
      <ion-label>Viewed updates</ion-label>
  </ion-toolbar>

  <ion-list lines="none">
    <ion-item *ngFor = 'let list of viewedUpdates.slice(1,3)'>
        <ion-avatar class="ion-margin">
        <ion-img [src] = 'list.picture'></ion-img>
        </ion-avatar>
        <ion-label>
            <h2><b>{{list.name}}</b></h2>
            <p>{{list.time}}</p>
        </ion-label>
    </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon name="pencil-outline"></ion-icon>
  </ion-fab-button><br>
  <ion-fab-button color="medium">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
    
</ion-content>