ion-toolbar {
    --border-width: 1px;
    --color: rgb(97, 93, 93);
    --min-height: 45px;
    --opacity: 0.4;
}
.toolbar {
    color: rgb(104, 101, 101);
    font-weight: bold;
    padding-left: 16px;
    font-size: 17px;
}

